profiles {
    docker {
        process.container = 'matthpich/metagenomic:latest'
        docker.enabled = true
    }
    conda {
        process.conda = 'python=3.6 pandas docopt bioconda::fastp bioconda::bwa bioconda::pysamstats bioconda::samtools conda-forge::pigz'
    }
}

aws {
  batch {
      volumes = '/tmp'
  }
}
