aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

profiles {
    
    docker {
        process.container = 'matthpich/metagenomic:latest'
        docker.enabled = true
        docker.temp = 'auto'
    }
    
    singularity {
        process.container = 'matthpich/metagenomic:latest'
        singularity.enabled = true
        singularity.cacheDir = "$PWD"
    }
    
    conda {
        process.conda = 'python=3.6 pandas docopt bioconda::fastp bioconda::bwa bioconda::pysamstats bioconda::samtools conda-forge::pigz'
        conda.cacheDir = "conda"
    }
}
