profiles {
    docker {
        process.container = 'matthpich/metagenomic:latest'
        docker.enabled = true
        aws.batch.columes = '/tmp'
    }
    conda {
        process.conda = 'python=3.6 pandas docopt bioconda::fastp bioconda::bwa bioconda::pysamstats bioconda::samtools conda-forge::pigz'
        conda.cacheDir = "s3://test98765/scratch/conda/"
    }
}
